*{
    margin: 0;
    padding: 0;
}
/* Header styling */
header{
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
    padding: 2rem;
    background-color: grey;
}
li, a{
    list-style: none;
    text-decoration: none;
}
/* Header styling ends here */

/* Main styling starts here */
.container{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.right{
    background-color: red;
    padding: 5rem;
}
.left{
    background-color: black;
    padding: 5rem;
    color: white;
}
/* Main styling ends here */

/* Footer styling starts here */
footer{
    display: block;
    justify-items: center;
    align-items: center;
    background-color: grey;
}
/* footer styling ends here */